@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Marvel;
    /* background-color: #0; */
  }

.container{
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .header{
    color: #FFFFFF;
    /* height: 5vh; */
    box-shadow: 13px -5px 10px;
    position: sticky;
    top: 0;
    background-color: #000000;
    height: 60px;
    z-index: 2;
  }
  
  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .container img{
    height: 50px;
  }
  
  .selecionado {
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .container h1{
    /* font-weight: lighter; */
    margin: 0;
    height: max-content;
    color: #414141;
    font-size: 40px;
  }
  
  
  .imagemlogo {
    height: 35vh;
    margin-right: 5%;
    padding: 15px;
  }
  
  button {
    background-color: #FFFFFF;
    color: #000000;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    font-family: Chivo;
    border: 1px solid #451345 ;
    
  }
  
  button:hover{
    background-color: #451345;
    color: #FFFFFF;
  }
  
  .navbar{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .header a {
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
  }

  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70px;
    
  }
  
  .hello h3 {
    color: #b36b5d;
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
    /* left: 0px; */
    top: 70px;
  }

  .hello h3 span {
    font-weight: 800;
  }

.social {
    display: flex;
}

.perguntas {
    width: 500px;
    background-color: #b36b5d;
    border-radius: 15px;
    margin: 20px;
    height: 400px;
    align-self: center;
    margin-left: 40px; 
}

table {
    border: none;
    /* background-color: #000000; */
    width: 500px;
    height: 500px;
}

input {
    background-color:#b36b5d;
    color: white;
    border: 4px solid #b36b5d;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}
.traco{
    background-color:#000000;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

h1 {
    padding-left: 70px; 
    color: #b36b5d;
    position: relative;
    top: 50px;
}

p {
    font-size: 15px;
    font-weight: bold;
    background-color: #b36b5d;
    color: #000000;
    width: 450px;
    padding-left: 20px;
}

span {
    color: #b36b5d;
    font-size: 15px;
    font-weight: bold;
}