@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Chivo:wght@300;400;700;900&display=swap');



body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Archivo;
}

.container{
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

.header{
    color: rgb(179, 107, 93);
    box-shadow: 13px -5px 10px;
    position: sticky;
    top: 0;
    background-color: #000000;
    height: 60px;
    z-index: 2;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecionado {
    font-weight: bold;
    color: #b36b5d;
}

.container h2{
    font-size: 40px;
    position: relative;
    bottom: 42px;
    font-weight: 400;
}


.imagemlogo {
  height: 39vh;
  position: relative;
  bottom: 9px;
}

button {
    background-color: #FFFFFF;
    color: #b36b5d;
    height: 35px;
    width: 110px;
    border-radius: 20px;
    font-family: Chivo;
    border: 2px solid #b36b5d ;
    
}

button:hover{
    background-color: #b36b5d;
    color: #FFFFFF;
}

.navbar{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.header a {
    text-decoration: none;
    background-color: #000000;
    color: #b36b5d;
}

.banner-login {
    color: white;
    height: 550px;
    /* border: 3px solid yellow; */
    /* background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover; */
  }
  
  .banner-login .container {
    height: 550px;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-login {
    color: #000000;
  }
  
  .banner-login .card {
    background-color: #e5e5e5;
    height: 400px;
    width: 75vh;
    display: flex;
    justify-content: center;
    /* align-content: space-around; */
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-radius: 30px;
  }

  .banner-login h1{
      position: relative;
      bottom: 60px;
      font-family: Archivo;
      color: #000000;
  }
  
  .banner-login a {
    color: white;
    text-decoration: none;
  }
  
  .banner-login #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
}

input {
    height: 30px;
    border: 2px solid #b36b5d;
    border-radius: 10px;
    text-transform: uppercase;
  }
  
  .btn {
    font-family: Archivo;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #b36b5d;
    width: 120px;
    align-self: center;
    position: relative;
    top: 28px;
}

.btn:hover{
  background-color: #000000;
  color: #FFFFFF;
}
  
  form {
   
    text-align: center;
   position: relative;
   bottom: 20px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
}
  
  .loading-div img {
    height: 50px;
    width: 50px;
}

.footer {
    background-color: #b36b5d;
    height: 20px;
    margin: 0;
    /* margin-top: px; */
    padding: 15px; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center;  
    font-family: Chivo;
    color: #FFFFFF;
  }  
  
  .footer .container {
    display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      height: max-content;
  }
  
  .footer .container span{
    padding: 0;
    font-size: 15px;
  }
  
  .footer .container img{
    height: 30px;
    margin: 0 15px;
  }