@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Chivo:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Archivo;
}

.acessadas {
  display: flex; /* por padrão, possui o 'flex-direction: row' (linha), e alinha os elementos filhos, distribuindo de maneira equivalente */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* serve para 'agarrar' os elementos filhos, de maneira que quebra de linha se os elementos filhos 'transbordarem' deste elemento */
  text-align: center;
}

.graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eaeaea;
  width: 60%;
  height: 35vh;
  margin: 10px;
  padding: 5px;
  font-family: Archivo;
}


