body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: Marvel;
}

.seila{
  /* width: 80vw; */
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.header{
  color: #FFFFFF;
  /* height: 5vh; */
  box-shadow: 13px -5px 10px;
  position: sticky;
  top: 0;
  background-color: #000000;
  height: 60px;
  z-index: 2;
}

.header .seila{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .seila img{
  height: 50px;
}

.selecionado {
  font-weight: bold;
  color: #FFFFFF;
}

.seila h1{
  /* font-weight: lighter; */
  margin: 0;
  height: max-content;
  color: #414141;
  font-size: 40px;
}


.imagemlogo {
  height: 35vh;
  margin-right: 5%;
  padding: 15px;
}

button {
  background-color: #FFFFFF;
  color: #000000;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  font-family: Chivo;
  border: 1px solid #451345 ;
  
}

button:hover{
  background-color: #451345;
  color: #FFFFFF;
}

.navbar{
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.header a {
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
}
/* .imagemlogo {
    height: 35vh; */
    /* margin-right: 5%; */
    /* padding: 15px; */
/* } */

/* .janela {
    display: flex;
    width: 90vw;
    height: 100vh;
    position: absolute;
    top: 250px;
  } */
  
  .header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #000000;
    background-color: #000000;
    /* border: 3px solid pink; */
    /* text-align: center; */
  }
  
  .dash-right {
    display: flex;
    width: 60%;
    height: fit-content;
    /* background-color: #b36b5d; */
    position: relative;
    left: 40vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  
  .header-left h1 {
    color: #000000;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70px;
    
  }
  
  .hello h3 {
    color: #b36b5d;
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
    /* left: 0px; */
    top: 70px;
  }

  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: white;
    /* background-color: #e6005a; */
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    /* margin: 0;
    padding: 0; */
    height: 50px;
    background-color: #b36b5d;
    color: white;
    border-radius: 20px;
    /* text-align: center; */
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    position: relative;
    left: 45vw;
    top: 10px;
  }

  
/* *,
body {
  font-family: "Exo 2", sans-serif;
} */

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: #000000;
  /* font-family: "Exo 2", sans-serif;
  text-align: center; */
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  /* top: 160px; */
}

.dash-right .avisos .container .div-form {
  width: 100%;
  /* text-align: center; */
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 20%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #b36b5d;
  background-color: white;
  border-radius: 2px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #000000;
  width: 120px;
} 

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #000000;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #b36b5d;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #161618;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
  height: 100vh;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  margin: 5px;
}

.estilizar{
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  background-color: #000000;
  color: #FFFFFF;
}

/* .msg{
  color: #000000;
  background-color: #b36b5d;
  height: 60px;
  width: 30px;
} */

.likes {
  display: flex;
  text-align: right;
} 

.div-form .sn_likes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
} 

.likes .sn_likes img {
  height: 30px;
  position: relative;
  left: 40vh;
  /* flex-direction: row; */
}

.sn_likes span{
  height: 30px;
  position: relative;
  left: 40vh;
  text-align: left;
}

.borda{
  border-bottom: 4px solid #b36b5d;
  padding: 10px;
}

/* .span #levanta span{
  padding: 10px;
} */

.container img {
  height: 30vh;
}

#fonetitulo {
  height: 10px;
  display: flex;
}

.mudanca{
  text-align: center;
}

.videos_de_musicas{
  height: 10vh;
  text-align: center;
}

.escutar .container {
  width: 100%;
  text-align: center;
}

.escutar .container .elementos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.banner{
  height: 300px;
  align-self: center;
    height: fit-content;
} 

.banner .container {
  /* border: 3px solid green; */
  height: 300px;
  /* display: flex; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  position: relative;
  top: 20px;
}

.banner img {
  height: 300px;
}

/* .footer {
  background-color: #b36b5d;
  height: 20px;
  margin: 0; */
  /* margin-top: px; */
  /* padding: 15px; 
  display: flex;
  justify-content: space-evenly; 
  align-items: center;  
  font-family: Chivo;
  color: #FFFFFF;
}   */
/* 
.footer .container {
  display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: max-content;
} */

/* .footer .container span{
  padding: 0;
  font-size: 15px;
}

.footer .container img{
  height: 30px;
  margin: 0 15px;
} */


